<?xml version="1.0"?>
<GeneralConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Webtitle>Mvc3QA</Webtitle>
  <WebDescription>问题在线处理系统</WebDescription>
  <Weburl>http://192.168.21.97/online</Weburl>
  <Icp>asd</Icp>
  <WebPath>/</WebPath>
  <IndexPagerCount>20</IndexPagerCount>
  <CatePagerCount>10</CatePagerCount>
  <CommentPagerCount>10</CommentPagerCount>
  <NotePagerCount>30</NotePagerCount>
  <DecorateImgCount>0</DecorateImgCount>
  <ThumbnailInfo>300x300</ThumbnailInfo>
  <Theme />
  <DefaultLang>zh-cn</DefaultLang>
  <ContributorCateIds />
  <VersionNo>20120726094150</VersionNo>
  <MaxSummaryCharCount>200</MaxSummaryCharCount>
  <AdminEmail>340704008@qq.com</AdminEmail>
  <SmtpServer>smtp.qq.com</SmtpServer>
  <SmtpUser>340704008</SmtpUser>
  <SmtpPass>ljw13522049473</SmtpPass>
  <SmtpPort>25</SmtpPort>
  <IfSendReplyEmail>1</IfSendReplyEmail>
</GeneralConfigInfo>